.fa-lg {
    padding-right: $spacer-xs;
}

.btn-brand-primary {
    background-color: transparent;
    border:1px solid $brand-pink;
    color:$brand-pink-dark;
    border-radius: 0;
    padding:8px 30px;
    margin: $spacer-md 0 1rem;
    text-transform: uppercase;
    font-size:$base-font-size;
}

hr { 
    background: url('/wp-content/uploads/2019/06/hr-bg.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
    margin-top: $spacer-md;
    margin-bottom: $spacer-md;
}
