// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

//Gravity Overides
//Gravity Overides
//Gravity Overides
//Gravity Overides
//Gravity Overides
//Gravity Overides
li#field_1_1 {
  padding-right: $spacer-n;
}
input#input_1_1 {
  width: $f-width;
  margin-top:0;
  background-color: #1B3042;
  border: 0;
  font-size: 14px;
  text-align: center;
  color: #9fa7b1;
  padding: 10px;

}
input#gform_submit_button_1{
  width: $f-width;
  background-color: #10253d;
  color: #9fa7b1;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
}

.gform_wrapper .gform_footer {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}

#gform_wrapper_1 .gform_wrapper .gform_footer {
  padding: 0px 0 10px;
  margin: 10px 0 0;
}

.gform_wrapper li.gfield_error input[type="email"],
.gform_wrapper li.gfield_error input[type="number"],
.gform_wrapper li.gfield_error input[type="password"],
.gform_wrapper li.gfield_error input[type="tel"],
.gform_wrapper li.gfield_error input[type="text"],
.gform_wrapper li.gfield_error input[type="url"],
.gform_wrapper li.gfield_error textarea {
border: 1px solid #000;
}

.gform_wrapper div.validation_error {
  color: #790000;
  font-size: 12px !important;
  font-weight: 700;
  margin-bottom: 20px;
  border-top: 2px solid #790000;
  border-bottom: 2px solid #790000;
  padding: 10px 0;
  clear: both;
  width: 100%;
  text-align: center;
}

div#validation_message_1_1 {
  display: none !important;
}

.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  min-width: 100% !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container{
  margin-top: -10px !important;
}
.gform_wrapper li.gfield.gfield_error{
background-color: transparent;
margin-bottom: 0px!important !important;
border-top: 0px solid #C89797!important ;
border-bottom: 0px solid #C89797 !important ;
padding-bottom: 0px!important;
padding-top: 0px!important;
}

.gform_wrapper div.validation_error {
  color:red !important;
  border-top: 2px solid red !important;
  border-bottom: 2px solid red !important;
}
//Gravity Overides
//Gravity Overides
//Gravity Overides
//Gravity Overides
//Gravity Overides
