@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: $font-stack;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: black;
}

p{
    color:$text-dark;
}

a{ 
    text-decoration: none;
    color:#212529;
    outline: 0;

}

a:hover{ 
    text-decoration: none;
    color:#212529;
}

a, a:visited, a:active {
    -webkit-transition:all 0.2s linear;
     -khtml-transition:all 0.2s linear;
       -moz-transition:all 0.2s linear;
        -ms-transition:all 0.2s linear;
         -o-transition:all 0.2s linear;
            transition:all 0.2s linear;
}

.h2, h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
}

.column-span {
    padding: 1rem 5rem;

    @media ( max-width: 667px) {
        padding: 1rem 1rem;
    }
}

p.card-text {
    font-size: 13px;
}

.card-body {
    .excerpt-link{
        font-size: 13px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
    }
}
