footer{
    background-color: $brand-primary;
    color: $text-light;
    color:$brand-primary-light;
    padding: $spacer-md 0;

    a{
        color:$brand-primary-light;
    }

    h4{
        font-size: $base-font-size;
        color:#fff;    
        margin-bottom:$spacer-xs;
        text-transform: uppercase;
    }

    @media ( max-width: 667px) {
        text-align: center;
    }
    
}

.footer-hold {
    & ul{
        padding-left: $spacer-n;

        & li{
            list-style: none;
            margin-bottom: 5px;
            font-size: $base-font-size;
            }

        }

    p{
        font-size:$base-font-size;
        line-height:25px;
    }
}

.copy_right {
    padding:$spacer-xs $spacer-n;
    font-size:12px;
    color:$text-dark;
    a{
        color:$text-dark;
    }
}

.footer-icon{
    max-width:20px;
}

.form-hold p{
    font-size:$base-font-size;
    line-height:25px;
}

.brand-icon{
    max-width: 150px;
}

.spacer-m {
    @media ( max-width: 667px) {
        margin-bottom:$spacer-md;
    }
}