header{
    
    display: block;
    padding: $spacer-xs 0;
}

.logo-size{
    width:200px;
}

.menu_offset{
    margin-left: 40px;
    margin-top: -5px;
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
}

.booking_modal a{ 
    text-decoration: none;
    font-size:14px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    color: #000;

} 

  #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 30px;
    // height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    height: $base-font-size;
    margin-top: $base-font-size;
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 5px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 10px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 2px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  
.menu-left{ 
    float: left;
}