section{
    padding:$spacer-md 0;
    @media ( max-width: 667px) {
        padding:$spacer-xs 0;
    }
}

.card {
    border-radius: 0;
}

.column-span p{ 
    column-count: 2;
    line-height: 31px;

    @media ( max-width: 667px) {
        column-count: 1;
    }

}
